

/* main {
    background-color: black;
    margin: 2px;
} */

/* keyframes for animation */
@keyframes appear{
 0% { 
    opacity:0.2; 
    transform: translateY(10px) scale(1);
    }
100% {
    opacity:1; 
    transform: translateY(0) scale(1);
 }
}

@keyframes appearX{
 0% { 
    opacity:0.2; 
    transform: translateX(15px) scale(1);
    }
100% {
    opacity:1; 
    transform: translateX(0) scale(1);
 }
}

body {
    background-color: antiquewhite;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: auto;
}

/* navbar */
.navbar {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.navbar a {
    color: antiquewhite ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    /* transform: translateY(10px) scale(.995); */
    /* animation: appear .45s cubic-bezier(.2, .5, .6, .6) forwards ; */
    animation-name: appear;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;

    /* transition when hovered */
    /* transition-property: text-decoration;
    transition-duration: 100ms;
    transition-timing-function: ease;
    transition-delay: 20ms; */
}

.navbar a::after{
    content: "";
    display:flex;
    height: 5%;
    background-color: antiquewhite;
    transition: width 200ms;
    width : 0%;
}

.navbar a:hover::after{
    width: 100%;
}

.navbar-container {
    width: 100%;
    height: 10%;
}

/* main body */
.body-container {
    height: 80%;
    width: 100%;
    display: flex;
}

.body-container > .journey-video {
    height: 100%;
    width: 50%;
    padding-right: 1vw;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    /* gap: 0;
    box-sizing: border-box; */
}

.body-container > .journey-video > video {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 90%;
    padding: 5%;
}


.body-container > .education-column {
    display: flex;
    width: 50%;
    height: 100%;
}

.body-container > .education-column > #connected-dots{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container > .education-column > .school-container {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(3, 33.3%); /* 3 rows, height auto */
}

.body-container > .education-column > .school-container > #senior, #uni, #junior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: (1/3)vh;
    font-size: larger;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

.body-container > .education-column > .school-container > #junior > .school-logo {
    padding-right: 1vw;
}

.body-container > .education-column > .school-container > #junior > .school-logo > img {
    height: 90%;
    padding: 1vw 1vh;
}

.body-container > .education-column > .school-container > #senior > .school-logo {
    padding-right: 1vw;
}

.body-container > .education-column > .school-container > #senior > .school-logo > img {
    height: 90%;
    padding: 1vw 1vh;
}

.body-container > .education-column > .school-container > #uni > .school-logo {
    padding-right: 1vw;
}

.body-container > .education-column > .school-container > #uni > .school-logo > img {
    height: 90%;
    padding: 1vw 1vh;
}

/* footer */
.footer {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    width: 100%;
    height: 10%;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.footer #residence {
    position: relative;
    padding-left: 20px;
    
    /* animation for upward motion */
    animation-name: appear;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;
}

.footer #copyright {
    padding-right: 20px;

    /* animation for upward motion */
    animation-name: appear;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;
}
