
/* 
main {
    margin: 2px;
} */

/* animation */
@keyframes appear{
 0% { 
    opacity:0.2; 
    transform: translateY(10px) scale(1);
    }
100% {
    opacity:1; 
    transform: translateY(0) scale(1);
 }
}

@keyframes appearX{
 0% { 
    opacity:0.2; 
    transform: translateX(15px) scale(1);
    }
100% {
    opacity:1; 
    transform: translateX(0) scale(1);
 }
}

body {
    background-image: url("./data/img/profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0;
}

/* body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, 0.35);   
    z-index: -1;
} */

.navbar {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.navbar a {
    color: antiquewhite ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    /* transform: translateY(10px) scale(.995); */
    /* animation: appear .45s cubic-bezier(.2, .5, .6, .6) forwards ; */
    animation-name: appear;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;

    /* transition when hovered */
    /* transition-property: text-decoration;
    transition-duration: 100ms;
    transition-timing-function: ease;
    transition-delay: 20ms; */
}

.navbar a::after{
    content: "";
    display:flex;
    height: 5%;
    background-color: antiquewhite;
    transition: width 200ms;
    width : 0%;
}

.navbar a:hover::after{
    /* width: 100%; */

    width: 100%;
}


.navbar-container {
    width: 100%;
    height: 10%;
}

#copyright, #residence {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite ;
    font-weight: 700;
}

.main {
    height: 80%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main .container-name {
    display: flex;
    height: 50%;
    bottom: 0;
    right: 0;
    position:relative;
    justify-content: right;
    align-items: end;
    padding-bottom: 2vh;
}

.main #name {
    /* styling */
    padding:1vw;
    font-size:xx-large;
    background-color: rgba(0,0,0,0.8);
    color: antiquewhite;
    padding: 1.5vw;
    border-right: 0.7vw solid antiquewhite;
    border-radius: 0.7rem 0em 0em 0.7rem;
    
    
    /* animation for x axis transition */
    animation-name: appearX;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;
}

#hookandcaption {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: start;
}

/* .main .container #hook{
    font-family:Georgia, 'Times New Roman', Times, serif;
    flex:1;
    padding: 1vw;
    background-color: rgba(0,0,0,0.8);
    color: white;
    align-items: center;
    margin: 0%;
    font-size: larger;
}  */

.main .container #caption {
    background-color: rgba(0,0,0,0.8);
    color: antiquewhite;
    padding: 1.5vw;
    text-align: end;
    display: flex;
    width: 45%;
    justify-content: end;
    border-radius: 0.7rem 0em 0em 0.7rem;
    border-right: 0.7vw solid antiquewhite;    
    /* flex : 1; */

    /* animation for upward */
    animation-name: appearX;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;
}


.footer {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.footer #residence {
    position: relative;
    padding-left: 20px;
    
    /* animation for upward motion */
    animation-name: appear;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;
}

.footer #copyright {
    padding-right: 20px;

    /* animation for upward motion */
    animation-name: appear;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 10ms;
}





